@import "css/normalize";
@import "variables";
@import "font-awesome/fontawesome";
@import "font-awesome/regular";
@import "font-awesome/solid";
@import "font-awesome/brands";
@import "font-awesome/v4-shims";
@import "base";
@import "content";
@import "notices";
@import "navigation";
@import "pagination";
@import "tabs";
@import "taxonomies";
@import "footer";
@import "float";
@import "mastodon";
@import "syntax";

// .home-center-image {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 70vh; // header + footer 제외 영역
//     img {
//       max-width: 100%;
//       height: auto;
//     }
//   }
  
.home-center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); // 헤더+푸터 제외 대략적 높이
    img {
      max-height: 300px;
      max-width: 90%;
      height: auto;
    }
  }