@import "css/normalize";
@import "variables";
@import "font-awesome/fontawesome";
@import "font-awesome/regular";
@import "font-awesome/solid";
@import "font-awesome/brands";
@import "font-awesome/v4-shims";
@import "base";
@import "content";
@import "notices";
@import "navigation";
@import "pagination";
@import "tabs";
@import "taxonomies";
@import "footer";
@import "float";
@import "mastodon";
@import "syntax";



.home-content {
  flex: 1;  // wrapper 내에서 남는 공간 차지
  display: flex;
  justify-content: center;
  align-items: center;

  .home-center-image img {
    max-height: 70vh;   // 더 크게
    max-width: 80vw;
    width: auto;
    height: auto;
  }
}

  .external-link::after {
    content: none !important;
  }