{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa-solid fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "January 2, 2006" }}
              </time>              
            </span>
            <span class="reading-time">
              <i class="fa-solid fa-clock" aria-hidden="true"></i>
              {{ .ReadingTime }} min read
            </span>
          </div>
          {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div class="post-content">
        {{ if .Params.featuredImage }}
          <img src="{{ .Params.featuredImage | relURL }}" alt="Featured image"/>
        {{ end }}
        {{ .Content }}
         <!-- Tally subscribe form -->
  <div style="max-width: 500px; margin: 3rem auto;">
    <iframe data-tally-src="https://tally.so/embed/3jpLo9?hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="100" frameborder="0" marginheight="0" marginwidth="0" title="wooworks 블로그 구독"></iframe>
    <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
  </div>
      </div>


      <footer>
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}
        {{ partial "posts/giscus.html" . }}
        {{ partial "posts/mastodon.html" . }}
        {{ partial "posts/telegram.html" . }}
        {{ partial "posts/cusdis.html" . }}
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
